<div class="container--tabs">
	<section class="row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab-1">Exemplo1 1</a></li>
			<li class=""><a href="#tab-2">Exemplo 2</a></li>
			<li class=""><a href="#tab-3">Exemplo 3</a></li>
		</ul>
		<div class="tab-content">
			<div id="tab-1" class="tab-pane active">
				<span class="glyphicon glyphicon-leaf glyphicon--home--feature two columns text-center"></span>
				<span class="col-md-10">
          <text-editor [content]="content1" id="exempl01" (changeContent)="changeContent($event)" [itemsMention]="itemsMention"></text-editor>
				</span>
			</div>
			<div id="tab-2" class="tab-pane">
				<span class="glyphicon glyphicon-fire glyphicon--home--feature two columns text-center"></span>
				<span class="col-md-10">
          <text-editor [content]="content2" id="exempl02" (changeContent)="changeContent($event)" [itemsMention]="itemsMention2"></text-editor>
				</span>
			</div>
			<div id="tab-3" class="tab-pane">
				<span class="glyphicon glyphicon-tint glyphicon--home--feature two columns text-center"></span>
				<span class="col-md-10">
					<p>TO DO</p>
				</span>
			</div>
		</div>
	</section>
</div>

